.idea/
.vscode/
.DS_Store

# 
/data/locations/*
!/data/locations/.gitkeep

/data/processed/*
!/data/processed/.gitkeep

/data/raw/*
!/data/raw/.gitkeep

/data/weather/*
!/data/weather/.gitkeep

# Dependency Jars
/airflow/jars/*
!/airflow/jars/.gitkeep