# Files requested to be ignored
test_spark.py
test_data.py
test.py
test_sparkjob.py

idea/
.vscode/
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 
/data/locations/*
!/data/locations/.gitkeep

/data/processed/*
!/data/processed/.gitkeep

/data/raw/*
!/data/raw/.gitkeep

/data/weather/*
!/data/weather/.gitkeep

/airflow/dags/__pycache__/*
!/airflow/dags/__pycache__/.gitkeep

# Dependency Jars
/airflow/jars/*
!/airflow/jars/.gitkeep

/airflow/logs/*
!/airflow/logs/.gitkeep

# Docker
metastore_db/